@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font: inherit;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.project {
  @apply relative overflow-hidden rounded-tl-[20px] rounded-tr-[20px] flex flex-col;
  @apply h-[400px] sm:h-[500px] min-w-[360px] max-w-[360px] sm:min-w-[500px] sm:max-w-[500px];
}

.project:nth-child(3n + 1) {
  @apply md:min-w-[584px] md:max-w-[584px] lg:min-w-[700px] lg:max-w-[700px];
}

.project:nth-child(3n + 2), .project:nth-child(3n + 3) {
  @apply md:min-w-[500px] md:max-w-[500px] lg:min-w-[500px] lg:max-w-[500px];
}